<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Inventory Management App</title>
    <link
      rel="stylesheet"
      href="/styles.css"
    />
  </head>
  <body>
    <dialog class="add-product-modal"   >
      <p class="form-header">Add new product</p>
      <form method="POST" action="/products" class="add-product-form">
        
        <div class="field">
          <label for="name">Name</label>
          <input id="name"  name="name" type="text">
        </div>
        <div class="field">
          <label for="category-id">Category</label>
          <select id="category-id" name="category_id">
            <option value="">Others</option>
             <% categories.forEach(category => {%>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
          </select>
        </div>
        <div class="field">
          <label for="available">Available</label>
          <input id="available" name="available" type="tel">
        </div>
        <div class="field">
          <label for="minimum">Minimum</label>
          <input id="minimum"
          name="minimum"
          type="text">
        </div>
        <div class="field">
          <label for="maximum">Maximum</label>
          <input type="tel" id="maximum" name="maximum">
        </div>
        <div class="field">
          <label for="price">Price</label>
          <input id="price" name="price" type="tel">
        </div>
        <div class="form-btns"><button class="submit-btn" type="submit">Submit</button>
        <button
        class="cancel-btn" type="button">Cancel</button>
        </div>
      </form>
    </dialog>
    <header>
      <div>
        <h1>Inventory</h1>
        <div class="header-controls">
          <div class="search-bar">
            <i class="search-icon" data-lucide="search"></i>
            <input
              type="text"
              placeholder="Search"
            />
          </div>
          <div class="add-menu">
            <button
              class="btn add-btn"
              type="button"
            >
              <i data-lucide="plus"></i>
            </button>
            <ul class="add-dropdown hidden">
              <li>
                <button type="button"
                class="add-product-btn">Add product</button>
              </li>
              <li>
                <button type="button" class="add-category-btn"
                >Add category</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="content">
      <div class="btns-wrapper">
        <button class="filter-btn" type="button">Filters</button> 
        <button class="share-btn"
        type="button">
          <i data-lucide="share"></i>
        </button>
        <button type="button" class="share-btn">
          <i data-lucide="settings"></i>
        </button>
      </div>
      
      <div class="filters hidden">
        <ul class="categories">
          <% categories.forEach(({id, name}) => { %>
            <li class="category-item"><%= name %></li>
          <% }); %>
        </ul>
        <div class="sort">
          <label for="sort-select">Sort: </label>
          <select id="sort-select">
            <option value="name">Name</option>
            <option value="available">Available</option>
          </select>
          <button type="button">
            <i data-lucide="arrow-up-narrow-wide"></i>
            <i data-lucide="arrow-down-wide-narrow"></i>
          </button>
        </div>
      </div>
      <div class="products-wrapper">
        <table class="products">
          <thead>
            <tr>
              <th scope="col" class="text-cell sticky-col">Name</th>
              <th scope="col" class="text-cell">Category</th>
              <th scope="col" class="num-cell">Available</th>
              <th scope="col" class="num-cell">Minimum</th>
              <th scope="col" class="num-cell">Maximum</th>
              <th scope="col" class="num-cell">Price</th>
              <th scope="col" class="action-col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(product => { %>
              <% const {id, name, category_id, available, minimum, maximum, price} = product %> 
                <tr data-id="<%= id %>">
                  <th scope="row" class="sticky-col text-cell"><%= name %></th>
                  <td class="text-cell"><%= category_id %></td>
                  <td class="num-cell"><%= available %></td>
                  <td class="num-cell"><%= minimum %></td>
                  <td class="num-cell"><%= maximum %></td>
                  <td class="num-cell">$<%= price %></td>
                  <td class="action-cell">
                    <button type="button" class="edit-product-btn"> 
                      <i data-lucide="pencil"></i>
                    </button>
                    <button type="button" class="delete-product-btn">
                      <i data-lucide="trash-2"></i>
                    </button>
                  </td>
                </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </main>


    <script src="https://unpkg.com/lucide@1.17.0/dist/umd/lucide.js"></script>

    <script>
      let products = <%- JSON.stringify(locals.products) %>;
      let categories = <%- JSON.stringify(locals.categories) %>;
    </script>

    <script src="/index.js"></script>
  </body>
</html>
